<footer>
  <p>
    Copyright © 2020 <a href="https://virtual-comedy-cafe.netlify.app/">Virtual Comedy Café</a> |
    <a href="https://www.youtube.com/channel/UCytIEaKhsiu6MDH84iyqR4g" target="_blank" rel="noreferrer">YouTube</a> |
    <a href="https://www.jewishhumorandsatire.com" target="_blank" rel="noopener">Jewish Humor and Satire</a> |
    <a href="/search/" target="_blank">Search 🔍</a>
  </p>
</footer>
