<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--[if lte IE 6]></base><![endif]-->
  <title>{{ title }} - {{ metadata.title }}</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="description" content="{{ metadata.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="yandex-verification" content="60ba3b715a473c70" />
  <!--<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">-->
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="shortcut icon" href="/static/images/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
  <!--JSON Schema info-->
  <script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "name": "Virtual Comedy Café",
    "alternateName": "Virtual Comedy Cafe",
    "url": "https://www.virtualcomedycafe.com/"
  }
   </script>
   <script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "PerformingGroup",
    "name": "Virtual Comedy Cafe",
    "url": "https://www.virtualcomedycafe.com",
    "logo": "https://www.virtualcomedycafe.com//static/images/Virtual-Comedy-Cafe-Logo.png",
    "description": "Virtual Comedy Café is the new site for posting stand-up performances in the Age of the COVID-19. Stand-up comedy has become more relevant than ever before, providing humor, commentary, virtual community, and coping mechanisms. As we have been asked to remain Socially Distant, and other kinds of performance have become virtually impossible, solitary speech has been increasingly relevant. Monologue, in many contexts, replaces dialogue and polylogue.",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Syracuse",
      "addressRegion": "NY",
      "postalCode": "13244",
      "addressCountry": "USA",
      "sameAs": [
      "https://www.facebook.com/virtualcomedycafeclub/",
      "https://www.youtube.com/channel/UCytIEaKhsiu6MDH84iyqR4g"
    ]
    }
  }
   </script>
  <!--meta info-->
  {% include "components/meta-info.njk" %}
  {% set css %}
  {% include "assets/css/inline.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
  {% set js %}
  {% include "assets/js/inline.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
</head>
