---
permalink: /humans.txt
eleventyExcludeFromCollections: true
date: Last Modified
layout: null
---

/* WHO */
  email: streaming@virtualcomedycafe.com
  From: Syracuse, NY, USA

/* THANKS */

  Adam DJ Brett
  Website: adamdjbrett.com
  Twitter: @__adjb
  From: Syracuse, NY, USA

  Eleventy Creator: Zachleat
  Twitter: @zachleat

  Developer: Tatiana Mac
  Twitter: @TatianaTMac

  Developer: Andy Bell
  Twitter: hankchizljaw

/* Credits */

  Static Site Generator: Eleventy
	Twitter: @eleven_ty
  Website: 11ty.dev

  Eleventy Base Blog Starter Project
  Website: https://github.com/11ty/eleventy-base-blog

  UlamPinoy Website and Theme
  website: https://github.com/ulampinoy/ulampinoy-atbp

/* SITE */

	Last update: {{ page.date }}
	Language: English
  Generator: Eleventy
  Theme: Front Cover  Theme
  Fonts: Font-Awesome 4.7.0
	Doctype: HTML5
	IDE: Terminal, Atom, Sublime Text
