---
layout: layouts/base.njk
section: home
---

<article class="article-post">
    <div class="article-post-wrapper grid">
        <header class="pamilya">
            <h1>{{ title }}</h1>
        </header>
        <section>
        
            {{ layoutContent | safe }}
        </section>
    </div>
</article
