---
layout: layouts/base.njk
section: search
permalink: /search/index.html
---

<article class="article-post">
    <div class="article-post-wrapper grid">
        <header class="pamilya">
            <h1>Search</h1>
        </header>
        <section>
          <script async src="https://cse.google.com/cse.js?cx=f3fd080bb064a66da"></script>
          <div class="gcse-search"></div>
        </section>
    </div>
</article>
